======= app =======

NODE_ENV=development
ALLOWED_ORIGINS=http://localhost:5173
PORT=3000

======= jwt =======

JWT_SECRET=change-me
JWT_EXPIRES_IN=1d

======= database =======

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=your-username
DB_PASSWORD=your-password
DB_DATABASE=your-database